.panel{:title => "Now playing", id=>"now_playing"}
  %h2 Now Playing
  %fieldset
    #info
      %h3= @artist
      %h3= @track_name
    
:javascript
  new Ajax.PeriodicalUpdater('info', '/browse/currentinfo', { method: 'get', frequency: 5 });

